*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;

}

.wrapper{
    width: 100%;
}

header{
    margin: 15px;
    padding: 30px;
}

img{
    width: 100%;
}

.img-logo{
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-otwttwy{
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: .2s;
}

.img-otwttwy:hover{
    transform: scale(1.03);
}

.img-neptunamari{
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: .2s;
}

.img-neptunamari:hover{
    transform: scale(1.03);
}

.img-renaissance{
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: .2s;
}

.img-renaissance:hover{
    transform: scale(1.03);
}

.img-covers{
    display: flex;
    justify-content: center;
    gap: 15px;
}



.socials{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

.twitter{
    width: 25px;
    height: 25px;
}

.instagram{
    width: 25px;
    height: 25px;
}


@media only screen and (max-width: 412px) {
    header{
        width: 300px;
        margin: 0 auto;
    }
    
    .img-covers{
        display: block;
        justify-content: center;
    }

    .wrapper{
        width: 390px;
        margin: 0 auto;
    }
    
}

@media only screen and (min-width: 820px) {
    
    header{
        width: 800px;
        margin: 0 auto;
    }

    .wrapper{
        width: 820px;
        margin: 0 auto;
    }

    .img-otwttwy{
        width: 200px;
        height: 200px;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-neptunamari{
        width: 200px;
        height: 200px;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-renaissance{
        width: 200px;
        height: 200px;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

